body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(213, 213, 224);
}

/* The main menu at the top of the page */
#menu {
    width: 60%;
    background-color: rgb(67, 67, 122);
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

/* The inputs */
input[type="radio"] {
    accent-color: rgb(201, 77, 23);
}

#map {
    height: calc(100vh - 70px);
    margin: auto;
    border: 5px outset rgb(67, 67, 122);
}

#addMap, #maps, #address {
    background-color: rgb(213, 213, 224);
    color: rgb(67, 67, 122);
    border: none;
    border-radius: 9px;
    height: 100%;
    padding: 0 20px;
}

#maps, #address {
    padding: 0 10px;
    background-color: #fff;
}

#addMap:hover {
    background-color: #fff;
}

/* The business name in popups */
h3 {
    margin-bottom: 0px;
    color: rgb(67, 67, 122);
}