body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(213, 213, 224);
}

#menu {
    width: 40%;
    background-color: rgb(67, 67, 122);
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

input[type="radio"] {
    accent-color: rgb(201, 77, 23);
}

#map {
    height: calc(100vh - 60px);
}